[submodule "rootfs/opt/vosbox"]
	path = rootfs/opt/vosbox
	url = git@github.com:polonair/vosbox.git
[submodule "rootfs/opt/vos"]
	path = rootfs/opt/vos
	url = git@github.com:polonair/vos.git
[submodule "rootfs/opt/tns"]
	path = rootfs/opt/tns
	url = git@github.com:polonair/tns.git
[submodule "bootloader"]
	path = bootloader
	url = git@github.com:VOSFoundation/bootloader.git
[submodule "fs-tools"]
	path = fs-tools
	url = git@github.com:VOSFoundation/fs-tools.git
